
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
   font-family: 'Quicksand';
   src: url('/Quicksand-Light.woff2') format('woff2'),
       url('/Quicksand-Light.woff') format('woff');
   font-weight: 800;
   font-style: normal;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
   background-color: #fffaf5;
}

nav {
  background-color: #017083;
  opacity: 0.9;
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  padding: 20px 20px 15px;
  transition: all 0.3s ease;

  .logo {
     width: 150px;
     position: absolute;
     top: -80px;
     left: -60px;
  }

  .menu-btn {
    -webkit-tap-highlight-color: transparent;
    float: right;
    --box-shadow-color: rgba(93, 58, 197, 0.3);
    width: 40px;
    height: 40px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  .menu-btn__burger,
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    width: 40px;
    height: 4px;

    border-radius: 5px;
    background-color: #5D3AC5;
    box-shadow: 0 2px 5px var(--box-shadow-color);

    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
  }
  .menu-btn__burger::before {
    transform: translateY(-12px);
  }
  .menu-btn__burger::after {
    transform: translateY(12px);
  }

  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

.nav-menu {
  position: fixed;
  top: -100vh;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: #fff;
  opacity: 0.9;
  transition: all 0.5s ease;
  text-align: center;
  display: grid;
  place-items: center;

  ul {
    li {
      font-size: 30px;
      list-style: none;
      margin: 20px 0;

      a {
        -webkit-tap-highlight-color: transparent;
        padding: 8px 15px;
        margin-bottom: 5px;
        text-decoration: none;
        color: #432a8f;
        border-radius: 20px;
        transition: background-color .3s ease;
        font-weight: 800;

        &:hover {
           color: #fffaf5;
           background-color: #5D3AC5;
        }
      }
    }
  }
}

// home 
.home {
   padding: 20px;
   height: 100vh;

   .me {
      margin-top: 80px;
      margin-bottom: 10px;
      width: 100%;
      text-align: center;

      img {
         width: 150px;
         border-radius: 50%;
         border: 5px solid #432a8f;
         background-color: #432a8f;
      }
   }

  .msg {
    color: #1c2137;
    padding: 20px 0;

    .s1, .s2, .s3 {
      display: block;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 12px;
    }

    .s1 {
      font-size: 17px;
    }

    .s2 {
      font-size: 35px;
      font-weight: 900;
    }

    .s3 {
      font-size: 17px;
    }
  }

  .options {
    margin-top: 20px;

    .see, .cv {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      padding: 18px;
      margin-bottom: 12px;
      border-radius: 25px;
      font-weight: 800;
      font-size: 18px;
      cursor: pointer;
      transition: background-color .2s ease-in-out;
    }

    .see {
      background-color: #432a8f;
      color: #fff;

      &:hover {
        color: #1c2137;
        padding: 13px;
        border: 5px solid #432a8f;
        background-color: #fff;
      }
    }

    .cv {
      border: 5px solid #432a8f;
      position: relative;
      padding: 13px;

      &:hover {
        color: #201f60;
        padding: 13px;
        border: 5px solid #201f60;
        background-color: #fffaf5;
      }

      img {
        position: absolute;
        top: 8px;
        right: 45px;
        width: 30px;
        height: 30px;
      }
    }
  
  }
}