
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
   font-family: 'Quicksand';
   src: url('/Quicksand-Light.woff2') format('woff2'),
       url('/Quicksand-Light.woff') format('woff');
   font-weight: 800;
   font-style: normal;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
   background-color: #fffaf5;
}

nav {
  background-color: #017083;
  opacity: 0.9;
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  padding: 20px 20px 15px;
  transition: all 0.3s ease;

  .logo {
     width: 150px;
     position: absolute;
     top: -80px;
     left: -60px;
  }

  .menu-btn {
    -webkit-tap-highlight-color: transparent;
    float: right;
    --box-shadow-color: rgba(93, 58, 197, 0.3);
    width: 40px;
    height: 40px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  .menu-btn__burger,
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    width: 40px;
    height: 4px;

    border-radius: 5px;
    background-color: #5D3AC5;
    box-shadow: 0 2px 5px var(--box-shadow-color);

    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
  }
  .menu-btn__burger::before {
    transform: translateY(-12px);
  }
  .menu-btn__burger::after {
    transform: translateY(12px);
  }

  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

.nav-menu {
  position: fixed;
  top: -100vh;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: #fff;
  opacity: 0.9;
  transition: all 0.5s ease;
  text-align: center;
  display: grid;
  place-items: center;

  ul {
    li {
      font-size: 30px;
      list-style: none;
      margin: 20px 0;

      a {
        -webkit-tap-highlight-color: transparent;
        padding: 8px 15px;
        margin-bottom: 5px;
        text-decoration: none;
        color: #432a8f;
        border-radius: 20px;
        transition: background-color .3s ease;
        font-weight: 800;

        &:hover {
           color: #fffaf5;
           background-color: #5D3AC5;
        }
      }
    }
  }
}

// home 
.home {
   padding: 20px 20px 100px;
   height: fit-content;

   .me {
      margin-top: 80px;
      margin-bottom: 10px;
      width: 100%;
      text-align: center;

      img {
         width: 150px;
         border-radius: 50%;
         border: 5px solid #432a8f;
         background-color: #432a8f;
      }
   }

  .msg {
    color: #1c2137;
    padding: 20px 0;

    .s1, .s2, .s3 {
      display: block;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 12px;
    }

    .s1 {
      font-size: 15px;
    }

    .s2 {
      font-size: 30px;
      font-weight: 900;
    }

    .s3 {
      font-size: 15px;
    }
  }

  .options {
    margin-top: 20px;

    .see, .cv {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      padding: 18px;
      margin-bottom: 12px;
      border-radius: 25px;
      font-weight: 800;
      font-size: 18px;
      cursor: pointer;
      transition: background .3s ease-in-out;
    }

    .see {
      background-color: #432a8f;
      color: #fff;

      &:hover {
        color: #1c2137;
        padding: 13px;
        border: 5px solid #432a8f;
        background-color: #fff;
      }
    }

    .cv {
      border: 5px solid #432a8f;
      position: relative;
      padding: 13px;

      i {
        font-size: 20px;
        color: #432a8f;
      }

      &:hover {
        color: #fff;
        padding: 13px;
        background-color: #432a8f;

        i {
          color: #fff;
        }
      }
    }
  }

  .can {
    margin-top: 80px;
    text-align: center;

    .web, .ui {
      background-color: #fff;
      border-radius: 15px;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 90px 1fr;
      padding: 20px;
      margin-bottom: 15px;

      -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.60);
      -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.60);
      box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);

      .title {
        margin-bottom: 15px;
        font-size: 20px;
      }

      img {
        grid-row: 1/3;
        margin-top: 18px;
        padding-left: 10px;
      }

      .ux {
        width: 70px;
      }

      .dis {
        text-align: center;
        grid-row-start: 2;
        grid-column-start: 2;
      }
    }
  }
}

.contact {
  padding: 180px 20px 20px;
  text-align: center;

  .contact-dis {
    width: 78%;
    margin: 0 auto;
  }

  .email {
    width: 145px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #432a8f;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 220px;
    border: 5px solid #432a8f;
    transition: all .3s ease-in-out;
    cursor: pointer;
    

    a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
    }

    &:hover {
      background-color: #fffaf5;
      border: 5px solid #432a8f;

      a {
        color: #432a8f;
      }
    }
  }


  .socialmedia {


    .social {

      i {
        cursor: pointer;
        margin: 5px;
        padding: 5px;
        font-size: 30px;
        color: #432a8f;
        transition: all .3s ease-in-out;

        &:hover {
          color: #1c2137;
        }
      }
    }
  }  
}

.projects {
  padding: 90px 20px;

  .pro {
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
  }

  .project-container {
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);
    margin-bottom: 15px;

    .icons {
      display: grid;
      grid-template-columns: 1fr 50px 50px;
      align-items: center;
      justify-items: center;
      

      .file, .git {
        width: 30px;
      }

      .file {
        align-self: initial;
        justify-self: left;
      }

      .exter {
        margin-top: 3px;
      }
    }

    .title {
      font-size: 20px;
      font-weight: bolder;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .tools {
      margin-top: 20px;
      display: grid;
      grid-column-gap: 5px;
      grid-auto-flow: column;
      align-items: center;
      justify-items: center;

      .tool {
        border-radius: 6px;
        color: #fff;
        width: 100%;
        text-align: center;
        padding: 5px;
        background-color: #5D3AC5;
      }
    }
  }
}