
@media (min-width: 1024px) {
   .home {
      margin-top: 70px;
      display: grid;
      grid-template-columns: 320px 1fr;
      padding-bottom: 20px;


      .me {
         text-align: none;
         width: 100%;

         img {
            width: 160px;
         }
      }

      .msg {
         margin: 80px 20px 20px;
      }

      .can {
         margin: 28px 20px 20px;
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-column-gap: 15px;
      }

      .options {
         margin-top: 40px;

         .see, .cv {
            padding: 15px;

            &:hover {
               padding: 10px;
            }
         }

         .cv {
            padding: 10px;
         }
      }
   }

   // projects
   .projects {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: masonry;
  
     position: relative;
     grid-column-gap: 15px;

     .pro {
        grid-column-start: 3;
        position: absolute;
      }

     .project-container {
        height: fit-content;
     }
  }
}

